<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZéDoBiái</title>
    <link rel="stylesheet" href="global.css">
</head>

<body>

    <header class="cabecalho">
        <a href="index.html"><img src="assets/Logo.png"></a>

        <nav class="menuHeader">

            <ul>
                <a href="">
                    <li>Sobre Nós</li>
                </a>
                <a href="">
                    <li>Calculadora</li>
                </a>
                <a href="">
                    <li>Selic</li>
                </a>
                <a href="">
                    <li>FI´s Ativos Fi´s Passivos</li>
                </a>
                <a href="">
                    <li>Cotação</li>
                </a>
            </ul>

        </nav>

    </header>

    <main>

        <Section class="explicacao">

            <h1>Explicação sobre a calculadora</h1>

        </Section>


        <Section class="calculadora">
            <div class="conteudoCalculadora">
            <form action="">

                <label>Valor Inicial:<input type="text"></label>

                <label>Valor de aporte:<input type="text"></label>

                <label>Quantidade de meses:<input type="text"></label>

                <button>Calcular</button>

            </form>

            <div class="grafico"> span grafico </div>
        </div>
        <div class="extrato">
            <span>extrato</span>
        </div>

        </Section>



    </main>


    <footer>

        <p>&copy; 2024 ZéDoBiái</p>

        <ul>
            <li>Átila Rebolo Moita da Costa - RM 552650</li>
            <li>Gabriel Artacho Plasa Moreira - RM 553527</li>
            <li>José Ribeiro dos Santos Neto - RM 553844</li>
            <li>Lorenzo Augusto Vaz Francisco - RM 553941</li>
        </ul>

    </footer>