* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #A7CFFF;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px;
}


footer {
    background-color: #A7CFFF;
    color: #fff;
    padding: 15px 0;
  
}
